# Table of Contents
We are going to cover the following topics in this class:
1. Jupyter
2. Python
3. Data Types
4. Control Flow
5. Data Structures
6. Functions
7. Files

# 1. Jupyter

## 1.1 Project Jupyter 
Project Jupyter is a:
* Non-profit, open-source project born out of the iPython Project in 2014.
* Its goal is to "develop open-source software, open-standards, and services for interactive computing across dozens of programming languages."
* Its name is a reference to three core languages it supports:
    1. <span style="color:green">Ju</span>lia
    2. <span style="color:green">Pyt</span>hon
    3. <span style="color:green">R</span>
    
If you haven't done so already, please install [conda](https://docs.conda.io/projects/conda/en/latest/user-guide/install/index.html) to get Python 3 on your system.

## 1.2 Jupyter Notebook
Jupyter Notebook is:
* A Web-based interactive development environment.
* Allows creating and sharing computational documents.
* Combines live code, equations, narrative text, visualizations, interactive dashboards and other media.

## 1.3 Accessing Jupyter
* To start a Jupyter notebook:
    * Start Anaconda Navigator and launch Jupyter Notebook, 
    * This should open up a webpage with the url localhost:8888 in your default web browser 
    * You can change the default directory for Jupyter using this tutorial: https://techras.wordpress.com/2019/02/13/how-to-change-the-default-working-directory-of-jupyter-and-jupyter-lab-in-anaconda-navigator-on-windows-environment/
    * On this webpage, navigate to the folder where you are working,

* To open an existing notebook, just click on it. It should open in a new tab.
* To open a new notebook, Select New -> Python3.
* All notebooks end with '.ipynb'.
* Use Kernel -> Restart & Run all to run all cells.
* Cell -> Run all above is often useful!
* File -> Download as options can come handy.

## 1.4 Components
* Each cell is either a 
    * code (default) or
    * markdown
        * Markdown cells use the [Markdown syntax](https://www.markdownguide.org/basic-syntax/). Familiarize yourselves with it.
* There are two modes in a notebook:
    * Command mode
    * Edit mode (current)
      
* Familiarize yourself with the [keyboard shortcuts](https://towardsdatascience.com/jypyter-notebook-shortcuts-bf0101a98330). Here are some Mac shortcuts:
    * <span style="color:green">Shift + Enter</span> to run the current cell, select below
    * <span style="color:green">⌥ + Enter</span> to run the current cell, insert a new cell below
    * <span style="color:green">⌘ + s (On Windows, Ctrl + s)</span> to save the checkpoint
    * When in command mode:
        * <span style="color:green">Enter</span> or double click to takes you into edit mode
        * <span style="color:green">A</span> to insert cell above
        * <span style="color:green">B</span> to insert cell below
        * <span style="color:green">dd</span> to delete the current cell        
        * <span style="color:green">Space</span> to scroll notebook down
        * <span style="color:green">Top/down arrow keys</span> to traverse cells
    * When in edit mode:
        * <span style="color:green">Esc</span> to take you into command mode

### This is a sentence. 

This is my list:
* Item 1
* Item 2

# 2. Python

* First appeared on 20 Feb 1991; almost 30 years ago
* One of the most popular programming languages
* A scripting language: can be used to quickly write small programs to automate tasks
* A large and active data analysis community

## 2.1 Indentations, not braces

```python
for x in array:
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)
```

Indent using the tab key.

A colon denotes the start of an indented code block after which all of the code must
be indented by the same amount until the end of the block.

## 2.2 Assigning values to variables

```python
a = 5; b = 6; c = 7
```

In [10]:
a = 5

In [11]:
a

5

In [8]:
a = 5; b = 6; c = 7

In [9]:
b

6

## 2.3 Print statement

In [12]:
print ("hello world")

hello world

# 3. Data Types

Python has a small set of built-in types for handling numerical data, strings, boolean (True or False) values, and dates and time

## 3.1 Two numeric types: int and float

An int can store arbitrarily large numbers:

In [15]:
ival = 17239871

In [16]:
ival ** 6

26254519291092456596965462913230729701102721

Floating-point numbers are represented with the Python float type.

In [17]:
fval = 7.243

In [18]:
g = 3/2
g

1.5

In [19]:
type(g)

float

## 3.2 String

You can write string literals using either single quotes ' or double quotes ":

In [20]:
a = 'one way of writing a string'

In [21]:
a

'one way of writing a string'

In [22]:
b = "another way"

In [23]:
b

'another way'

For multiline strings with line breaks, you can use triple quotes, either ''' or """:

In [24]:
c="""
This is a longer string that spans multiple lines.
This is line 2.
"""

In [25]:
c

'\nThis is a longer string that spans multiple lines.\nThis is line 2.\n'

Python strings are immutable; you cannot modify a string:

In [36]:
a = 'this is a string'

In [37]:
a[10]

's'

In [38]:
a[10] = 'f'

TypeError: 'str' object does not support item assignment

Many Python objects can be converted to a string using the str function:

In [39]:
a=5.6
type(a)

float

In [40]:
s = str(a)
print(s)

5.6

In [41]:
type(s)

str

## 3.3 Boolean

The two boolean values in Python are written as True and False.

In [42]:
a = 5 > 3 
a

True

In [43]:
type(a)

bool

In [44]:
True and True

True

In [45]:
True or False

True

## 3.4 Other Important Data Types:
1. None
2. bytes and unicode
3. Dates and times

# 4. Control Flow 
Python has several built-in keywords for conditional logic, loops, and other standard control flow concepts.

## 4.1 If, elif, and else

In [46]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print('Made it')

Made it

In [47]:
if (a > b):
    print ("a is greater than b")
elif (b > c):
    print ("b is greater than c")
elif (c > d):
    print ("c is greater than d")
else:
    print ("reached else")

c is greater than d

## 4.2 for loops

for value in collection: <br>
&emsp; do something with value

In [48]:
for i in range(7):
    print (i)

0
1
2
3
4
5
6

In [49]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

## 4.3 while loop

In [50]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2
    print (x, total)

128 256
64 384
32 448
16 480
8 496
4 504

# 5. Data Structures

## 5.1 Tuples

In [51]:
tup = 4, 5, 6

In [63]:
tup

('foo', 'bar', 'baz')

In [53]:
tup = tuple(['foo', [1, 2], True])

In [54]:
tup

('foo', [1, 2], True)

In [55]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [56]:
tup[1].append(3)

In [57]:
tup

('foo', [1, 2, 3], True)

## 5.2 Lists

In [58]:
tup = ('foo', 'bar', 'baz')

In [69]:
b_list = list(tup)

In [62]:
b_list

['foo', 'bar', 'baz']

In [64]:
C_LIST = [1, 2, 3]
C_LIST

[1, 2, 3]

In [65]:
b_list[1]

'bar'

In [84]:
b_list.append('dwarf')

In [82]:
b_list

['foo', 'baz', 'dwarf']

In [81]:
b_list.remove('bar')

ValueError: list.remove(x): x not in list

In [86]:
b_list

['foo', 'baz', 'dwarf', 'dwarf', 'dwarf']

In [87]:
a_list = ['foo', 'red', 'baz', 'dwarf', 'foo', 'cat']

In [88]:
len(a_list)

6

In [89]:
a_list.remove('foo')

In [91]:
a_list

['red', 'baz', 'dwarf', 'foo', 'cat']

In [79]:
'dwarf' in a_list

True

In [80]:
'zing' in a_list

False

### 5.2.1 Concatenating and combining lists

In [92]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [93]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

### 5.2.2 Sorting lists

In [94]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [96]:
a = [7, 2, 5, 1, 3]
b = a.sort()

In [97]:
a

[1, 2, 3, 5, 7]

In [98]:
b

In [99]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [100]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort()
b

['He', 'foxes', 'saw', 'six', 'small']

In [101]:
b.sort(key=len, reverse=True)

In [102]:
b

['foxes', 'small', 'saw', 'six', 'He']

### 5.2.3 Slicing lists

In [103]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [104]:
seq[1:5]

[2, 3, 7, 5]

In [105]:
seq[3:4] = [6, 3]

In [106]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [107]:
seq[:5]

[7, 2, 3, 6, 3]

In [108]:
seq[3:]

[6, 3, 5, 6, 0, 1]

## Exercise:

1. Create a list called eastern_states and populate it with any 5 US states on the east coast
2. Create a list called western_states and populate it with any 5 US states on the west coast
3. Combine these lists in a single list called states
4. Sort the states list in alphabetic order
5. Print the number of elements in states
6. Remove any one state from states
7. Print the 4th and 5th state in states

In [121]:
eastern_states=['New Jersey','New York','Connecticut','Massachusserts','Delaware']

In [122]:
eastern_states

['New Jersey', 'New York', 'Connecticut', 'Massachusserts', 'Delaware']

In [123]:
western_states=['California','Washington','Nevada',"Aarizona","Oregon"]

In [124]:
western_states

['California', 'Washington', 'Nevada', 'Aarizona', 'Oregon']

In [159]:
state= western_states + eastern_states

In [160]:
state

['California',
 'Washington',
 'Nevada',
 'Aarizona',
 'Oregon',
 'New Jersey',
 'New York',
 'Connecticut',
 'Massachusserts',
 'Delaware']

In [161]:
state.sort(key=len)

In [162]:
state

['Nevada',
 'Oregon',
 'Aarizona',
 'New York',
 'Delaware',
 'California',
 'Washington',
 'New Jersey',
 'Connecticut',
 'Massachusserts']

In [170]:
len(state)

9

In [169]:
state.remove('Delaware')

['Nevada',
 'Oregon',
 'Aarizona',
 'New York',
 'California',
 'Washington',
 'New Jersey',
 'Connecticut',
 'Massachusserts']

In [175]:
state[3:5]

['New York', 'California']

## 5.3 Dictionaries

In [ ]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}

In [ ]:
d1.keys()

In [ ]:
d1.values()

In [ ]:
d1.update({'b' : 'foo', 'c' : 12})
d1

In [ ]:
for key in d1:
    print (key + " => " + str(d1[key]))

## Exercise
1. Create a dictionary capitals storing 5 states as keys and their capitals as values
2. Add another <state, capital> pair into this dictionary
3. Print all keys
4. Print all values
5. Create a new dictionary storing the length of each state name

In [178]:
myDic={
    'New Jersey':'Treton',
    "New York": 'Alabny',
    "New Hemsphire":'Concord',
    "Georgia":'Atlanta',
    "Florida":'Orlando'
}

In [187]:
myDic.append('Washinton')='Seattle'

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (525291109.py, line 1)

## 5.4 Set

In [ ]:
set([2, 2, 2, 1, 3, 3])

In [ ]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [ ]:
a.union(b)

In [ ]:
a.intersection(b)

In [ ]:
a - b

In [ ]:
b - a