## Q1 (2 points)
Convert a list of multiple integers into a single integer:

 sample_list: [11, 33, 50]

Expected Output: 113350

In [17]:
a = [11, 33, 50]

In [23]:
# Write your program here. The cell output should be the integer 113350.
for x in  a:
    print(x, end='')

113350

## Q2 (3 points)
Flatten a given nested list structure. 

Original list: [0, 10, [20, 30], 40, 50, [60, 70, 80], [90, 100, 110, 120]]

Flattened list:
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]

In [2]:
a = [0, 10, [20, 30], 40, 50, [60, 70, 80], [90, 100, 110, 120]]

In [4]:
# Write your program here. The cell output should be the flattened list.
flat_list=[]
for ls in a:
    if isinstance(ls, list):
        for item in ls:
            flat_list.append(item)
    else:
        flat_list.append(ls)

print(flat_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]

## Q3 (2 points)
Convert a given dictionary into a list of lists.

Original Dictionary:
{1: 'red', 2: 'green', 3: 'black', 4: 'white', 5: 'black'}

Convert the said dictionary into a list of lists:
[[1, 'red'], [2, 'green'], [3, 'black'], [4, 'white'], [5, 'black']]

In [12]:
myDict = {
    1: 'red',
    2: 'green',
    3: 'black',
    4: 'white',
    5: 'black'
}

In [13]:
# Write your program here. The cell output should be the list of lists
newlist=[]
for key, value in myDict.items():
    old=[key,value]
    newlist.append(old)
print(newlist)

[[1, 'red'], [2, 'green'], [3, 'black'], [4, 'white'], [5, 'black']]

## Q4 (3 points)
Given a list of tuples, remove all the tuples with length n.

Input: my_list = [(8, 32), (0,), (-2, 10), (1,), (8, -3, 4, 7)], n=2 

Output: [(0,), (1,), (8, -3, 4, 7)]

Explanation: (8, 32) and (-2, 10) are both tuples of length 2, so they are removed.

In [9]:
my_list = [(8, 32), (0,), (-2, 10), (1,), (8, -3, 4, 7)] 
n=2

In [10]:
# Write your program here. The cell output should be [(0,), (1,), (8, -3, 4, 7)]

def new_tuples(my_list, n):
    return [t for t in my_list if len(t) != n]
print(new_tuples (my_list,n))

[(0,), (1,), (8, -3, 4, 7)]